.form-payment {
  width: 60%;
  margin: 0 auto;

  .StripeElement {
    padding: 15px;
    border-radius: 0.25rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
    border: 1px solid $border-grey-light;
  }

  .ui.button {
    margin-top: 15px;
    padding: 15px;
    background-color: $primary;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
    color: $font-light;
    width: 100%;
  }
}
