@import "~/src/scss/index.scss";

.payment > h2 {
  margin-bottom: 15px;
  font-size: 18px;
}

.block {
  background-color: $background-quaternary;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
