@import "~/src/scss/index.scss";

.container {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;

  > a {
    > img {
      height: 30px;
    }

    > i {
      font-size: 26px;
      color: $danger;
      margin: 0;
    }
  }
}

.blockLeft {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockRight {
  background-image: url("/images/sign-wallpaper.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 50%;
}
