@import "~/src/scss/index.scss";

.stepThree {
  display: flex;
  flex-direction: column;
  align-items: center;

  > i {
    font-size: 70px;
    color: $success;
  }

  > h2 {
    margin-bottom: 20px;
  }

  > a {
    width: 300px;
  }
}
