@import "~/src/scss/index.scss";

.order {
  background-color: $background-quaternary;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid transparent;

  &:hover {
    cursor: pointer;
    border-color: $primary;
  }

  > div > span {
    font-size: 12px;
    color: $text-secondary;
  }

  > p {
    font-weight: bold;
    font-size: 20px;
  }
}

.product {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-secondary;

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  > img {
    width: 100px;
    border-radius: 8px;
    margin-right: 20px;
  }

  > div {
    display: flex;
    width: 100%;

    .info {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      width: 100%;

      p {
        &:first-of-type {
          font-weight: bold;
        }
        &:last-of-type {
          color: $text-secondary;
          font-size: 12px;
        }
      }
    }

    .quantity {
      display: flex;
      align-items: center;

      span {
        margin-left: 10px;
        font-weight: bold;
      }
    }
  }
}

.address {
  margin-bottom: 20px;
  border-bottom: 1px solid $border-secondary;
  background-color: $background-quaternary;
  padding: 20px;
  border-radius: 10px;

  .title {
    font-weight: bold;
    font-size: 16px;
  }

  .addressInfo {
    color: $text-secondary;
    font-size: 16px;
  }
}

.total p {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  color: $primary;
}
