$primary: #ff5400;
$primary-hover: #ffa700;

$text-primary: #fff;
$text-secondary: #909090;

$border-primary: #3d3d3d;
$border-secondary: #474747;

$background-primary: #272727;
$background-secondary: #1d1d1d;
$background-tertiary: #101010;
$background-quaternary: #3d3d3d;
$background-quaternary__blur: #3d3d3d10;

$success: #69af00;
$danger: #ff0a4e;
